:root {
  --background-100: #929292;
  --background-200: #000000;
  --background-400: #2c2c2c;
  --background-500: #000000;
  --background-600: #1b1b1b;

  --border: #fffefe; /* naranja intenso para delimitación clara */

  --text-100: #f0f0f0;  /* blanco suavizado */
  --text-200: #d4d4d4;
  --text-300: #b7b7b7;
  --text-400: #999999;
  --text-600: #7a7a7a;

  --text-debug: #00ffd5; /* verde neón hielo */
  --background-debug: #24003f; /* violeta profundo */
  
  --error: #df2b2b;
}
