:root {
  --background-100: linear-gradient(180deg, #0a0a0a, #141414);
  --background-200: radial-gradient(circle at center, #1a1a1a, #0a0a0a);
  --background-400: #0f0f0f;
  --background-500: linear-gradient(135deg, #131313, #0b0b0b);
  --background-600: #080808;

  --border: #00ffe0;

  --text-100: #39ff14;  /* verde neón */
  --text-200: #00eaff;  /* celeste neón */
  --text-300: #fffb96;  /* amarillo flúor */
  --text-400: #ff44cc;  /* rosa neón */
  --text-600: #ff0055;  /* rojo neón */

  --text-debug: #00ffff;
  --background-debug: linear-gradient(90deg, #21002f, #0d0020);
}
