:root {
  --background-100: linear-gradient(180deg, #1e1e2a 0%, #2a2a36 100%);
  --background-200: radial-gradient(circle at top left, #1c1c28, #3a3a44);
  --background-400: #20202c;
  --background-500: linear-gradient(145deg, #262635, #1a1a26);
  --background-600: #2d2d3b;

  --border: #464656;

  --text-100: #f4f4f9;
  --text-200: #d0d0e0;
  --text-300: #b0b0c0;
  --text-400: #9090a0;
  --text-600: #6f6f80;

  --text-debug: #a8e0d3;
  --background-debug: linear-gradient(90deg, #294a4a, #1a2e2e);

  --error: #df2b2b;
}
